<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/DSA_COMP30050_Assignment_PartA/src/part2/NumberSearch.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="part2.NumberSearch"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="DSA_COMP30050_Assignment_PartA"/>
</launchConfiguration>
