doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
		script(src='javascript/require.js')
	body
		div(class="row")
			div(class="col-md-6 col-md-offset-3")
				block content